/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto+Mono:wght@300;500&family=Poppins:wght@600&display=swap");

/* Reset and Base CSS Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #5924ed;
  --secondary-color: #0d081a;
  --body-bg-color: #efebfa;
}

html {
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-bg-color);
}

img {
  width: 100%;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
/* Reset and Base CSS End */

/* hero section css */
#hero {
  height: 100vh;
  width: 100%;
  padding-top: 10rem;
}

#hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .container .left-hero-text {
  flex: 6;
}
#hero .container .left-hero-text .intro {
  font-size: 1.8rem;
  color: var(--primary-color);
}
#hero .container .left-hero-text .sub-intro {
  font-size: 6rem;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  line-height: 80px;
  overflow: hidden;
}
#hero .container .left-hero-text .hero-description {
  max-width: 400px;
  margin-top: 2.5rem;
  font-size: 15px;
  word-spacing: 5px;
}

#hero .container .right-hero-text {
  flex: 8;
}

#hero .right-hero-img img {
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  height: 600px;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.button-group .work-button {
  background-color: var(--primary-color);
  color: white;
  padding: 0.6em 1.6em;
  border-radius: 30px;
  font-size: 1.8rem;
  font-weight: 500;
  transition: 0.3s;
}

.button-group svg {
  width: 50px;
  color: var(--primary-color);
}

/* Responsive Design  for hero section*/
@media (max-width: 768px) {
  html {
    font-size: 9px;
  }
  #hero .container {
    flex-direction: column-reverse;
    margin-top: 40px;
  }

  #hero .container .left-hero-text .sub-intro {
    font-size: 4rem;
  }

  #hero .container .left-hero-text .intro {
    margin-top: 15px;
  }
  #hero .container .right-hero-text {
    text-align: center;
    flex: 1 1 100%;
    margin-bottom: 2rem;
  }
  #hero .container .left-hero-text {
    text-align: center;
    flex: 1 1 100%;
    height: fit-content;
  }
  .button-group {
    justify-self: center;
  }
  #hero .right-hero-img img {
    height: 400px;
    width: 100%;
  }
}

@media (max-width: 950px) {
  #hero .container .right-hero-text {
    flex: 6;
  }
  #hero .container .left-hero-text .hero-description {
    margin-top: 3.5rem;
  }
}

/* Services Section */
.services-container {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 0 1rem;
  text-align: center;
}
.service-heading {
  font-family: "Montserrat";
  font-size: clamp(2rem, 10vw, 8rem);
}

.services-container h2 {
  /* font-weight: 900; */
  font-size: 2.5rem;
  margin-bottom: 3rem;
  letter-spacing: 2px;
  color: #111;
  font-size: 4rem;
}

.services-grid {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  right: 30px;
  font-family: "Roboto Mono";
}

.service-item {
  padding: 2rem;
  border-radius: 15px;
  flex: 1 1 280px;
  max-width: 320px;
  text-align: left;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.service-item:hover {
  background-color: #f5f3ff;
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.icon-circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  color: white;
  font-size: 1.4rem;
}

/* Individual icon colors */
.icon-webdesign {
  background-color: #7ea8ff;
}

.icon-uiux {
  background-color: #84f4c6;
}

.icon-seo {
  background-color: #a386ff;
}

.service-item h3 {
  font-weight: bold;
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
  color: #222;
  font-family: "Poppins";
}

.stat-box p {
  font-size: 0.9rem;
  line-height: 1.5;
  font-family: "Roboto Mono";
}

/* Responsive */
@media (max-width: 768px) {
  .services-container h2 {
    font-size: 3rem;
  }

  .services-grid {
    flex-direction: column;
    align-items: center;
  }

  .service-item {
    max-width: 100%;
    text-align: -webkit-center;
    background-color: rgb(8 69 241 / 35%);
    width: 96%;
    margin-left: 24px;
  }
}

.stats-container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.stats-container h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  font-family: "Montserrat";
}

.stats-grid {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.stat-box {
  flex: 1 1 250px;
  padding: 2rem;
  border-radius: 6px;
  text-align: left;
  color: #111;
  min-width: 250px;
  margin: 2px 16px;
}

.stat-box h3 {
  font-weight: 900;
  font-size: 4.25rem;
  margin-bottom: 0.5rem;
}

.stat-box strong {
  display: block;
  font-weight: 700;
  margin-bottom: 1rem;
}

.stat-box p {
  font-size: 0.9rem;
  line-height: 1.5;
}

/* Background colors */
.stat-yellow {
  background-color: #f9f2ad;
}

.stat-green {
  background-color: #b3f5d8;
}

.stat-purple {
  background-color: #b7a8ff;
  color: #000;
}

/* Responsive */
@media (max-width: 768px) {
  .stats-grid {
    flex-direction: column;
    align-items: center;
    row-gap: normal;
  }

  .stat-box {
    max-width: 100%;
  }
}

/* Projects Section Normal css */
.title {
  font-size: 3.5rem;
  text-align: center;
  margin: 60px 0;
}

.projects-section {
  margin: 0 auto;
}

.project-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83%;
  flex-wrap: wrap;
}

.project-card img {
  width: 27%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  filter: brightness(85%);
  transition: all 0.4s ease;
}

.project-card:hover img {
  transform: scale(1.02);
}

.project-info {
  position: absolute;
  background: rgba(255, 255, 255, 0.95);
  padding: 16px;
  border-radius: 15px;
  width: 400px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.project-info.right {
  right: 345px;
  font-family: "Roboto Mono";
}

.project-info.left {
  left: 30px;
  font-family: "Roboto Mono";
}

.project-info h2 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.project-info h3 {
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #000;
}

.project-info p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.btn-group {
  display: flex;
  gap: 12px;
}

.btn {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.know-more {
  background: #6d28d9;
  color: #fff;
}

.know-more:hover {
  background: #5b21b6;
}

.preview {
  border: 2px solid #6d28d9;
  color: #6d28d9;
}

.preview:hover {
  background: #6d28d9;
  color: #fff;
}

.project-card2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 950px;
  margin: 48px auto;
  flex-wrap: wrap;
  margin-left: 37%;
  height: 407px;
}

.project-card2 img {
  width: 35%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  filter: brightness(85%);
  transition: all 0.4s ease;
  height: 406px;
}

.project-card2:hover img {
  transform: scale(1.02);
}

.project-info2 {
  position: absolute;
  background: rgba(255, 255, 255, 0.95);
  padding: 26px;
  margin-left: 21px;
  border-radius: 17px;
  width: 400px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  margin-right: 452px;
  font-family: "Roboto Mono";
}

.project-info2.right {
  right: 30px;
  font-family: "Roboto Mono";
}

.project-info.left {
  left: 30px;
  font-family: "Roboto Mono";
}

.project-info2 h2 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.project-info2 h3 {
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #000;
}

.project-info2 p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.btn-group2 {
  display: flex;
  gap: 12px;
}

.btn2 {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.know-more2 {
  background: #6d28d9;
  color: #fff;
}

.know-more2:hover {
  background: #5b21b6;
}

.preview2 {
  border: 2px solid #6d28d9;
  color: #6d28d9;
}

.preview:hover {
  background: #6d28d9;
  color: #fff;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
    margin-left: 20px;
    margin-left: -74px;
  }

  .project-info {
    position: static;
    width: 95%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-top: -128px;
    margin-left: 110px;
  }

  .project-card img {
    border-radius: 15px;
    width: 104%;
    margin-left: 107px;
  }
  .project-card2 {
    flex-direction: column;
    margin-left: 21px;
  }

  .project-info2 {
    position: relative;
    width: 95%;
    margin-top: -130px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-right: 386px;
    margin-left: 42px;
  }

  .project-card2 img {
    border-radius: 15px;
    width: 104%;
    margin-left: -345px;
    height: 600px;
  }

  .title {
    font-size: 3.2rem;
  }
}

/* RESPONSIVE DESIGN FOR MOBILE */
@media (max-width: 480px) {
  .project-card {
    flex-direction: column;
    margin-left: 20px;
    margin-left: -74px;
  }

  .project-info {
    position: static;
    width: 95%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-top: -128px;
    margin-left: 110px;
  }

  .project-card img {
    width: 95%;
    margin-left: 148px;
  }
  .project-card2 {
    flex-direction: column;
    margin-left: 21px;
  }

  .project-info2 {
    position: relative;
    width: 95%;
    margin-top: -130px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-right: 386px;
    margin-left: 42px;
  }

  .project-card2 img {
    border-radius: 15px;
    width: 104%;
    margin-left: -345px;
    height: 600px;
  }

  .title {
    font-size: 3.2rem;
  }
}

/* RESPONSIVE DESIGN FOR LAPTOP */
@media (max-width: 1024px) {
  .project-info.right {
    margin-right: -344px;
  }
  .project-card img {
    width: 42%;
  }
  .project-card2 img {
    width: 38%;
    height: 449px;
  }
}
